@model Diplom.Models.Expense

@{
    ViewData["Title"] = "Удаление траты";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="alert alert-warning">
    <h4>Вы уверены, что хотите удалить эту трату?</h4>
</div>

<div class="mb-4">
    <dl class="row">
        <dt class="col-sm-3">Описание:</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">Сумма:</dt>
        <dd class="col-sm-9">@Model.Amount.ToString("C")</dd>

        <dt class="col-sm-3">Категория расхода:</dt>
        <dd class="col-sm-9">@Model.Category</dd>

        <dt class="col-sm-3">Дата расхода:</dt>
        <dd class="col-sm-9">@Model.ExpenseDate.ToString("dd.MM.yyyy")</dd>

        
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Удалить" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
