@model Diplom.Models.TripMember

@{
    ViewData["Title"] = "Детали участника поездки";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Имя:</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Вклад:</dt>
            <dd class="col-sm-9">@Model.Contribution.ToString("C")</dd>

            <dt class="col-sm-3">Статус:</dt>
            <dd class="col-sm-9">@Model.Status</dd>

            <dt class="col-sm-3">Контактная информация:</dt>
            <dd class="col-sm-9">@Model.ContactInfo</dd>
        </dl>
    </div>
</div>

<div>
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
    </div>
</div>
